## Converting Receipts JSON to readble CSV & transforming an additional rewards table

In [1]:
# Reading the receipts json file using read_json and creating a dataframe
import json    
import pandas as pd
import datetime
from pandas.io.json import json_normalize
import matplotlib.pyplot as plt
import seaborn as sns
from ast import literal_eval

receipt_path = 'C:/Users/Parth Parsana/OneDrive/Desktop/Interview prep/Fetch reward/receipts.json'
receipt_df = pd.read_json(receipt_path, lines=True)
receipt_df = pd.DataFrame(receipt_df)
receipt_df

,_id,bonusPointsEarned,bonusPointsEarnedReason,createDate,dateScanned,finishedDate,modifyDate,pointsAwardedDate,pointsEarned,purchaseDate,purchasedItemCount,rewardsReceiptItemList,rewardsReceiptStatus,totalSpent,userId
0,{'$oid': '5ff1e1eb0a720f0523000575'},500.0,"Receipt number 2 completed, bonus point schedu...",{'$date': 1609687531000},{'$date': 1609687531000},{'$date': 1609687531000},{'$date': 1609687536000},{'$date': 1609687531000},500.0,{'$date': 1609632000000},5.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,26.00,5ff1e1eacfcf6c399c274ae6
1,{'$oid': '5ff1e1bb0a720f052300056b'},150.0,"Receipt number 5 completed, bonus point schedu...",{'$date': 1609687483000},{'$date': 1609687483000},{'$date': 1609687483000},{'$date': 1609687488000},{'$date': 1609687483000},150.0,{'$date': 1609601083000},2.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,11.00,5ff1e194b6a9d73a3a9f1052
2,{'$oid': '5ff1e1f10a720f052300057a'},5.0,All-receipts receipt bonus,{'$date': 1609687537000},{'$date': 1609687537000},NaN,{'$date': 1609687542000},NaN,5.0,{'$date': 1609632000000},1.0,"[{'needsFetchReview': False, 'partnerItemId': ...",REJECTED,10.00,5ff1e1f1cfcf6c399c274b0b
3,{'$oid': '5ff1e1ee0a7214ada100056f'},5.0,All-receipts receipt bonus,{'$date': 1609687534000},{'$date': 1609687534000},{'$date': 1609687534000},{'$date': 1609687539000},{'$date': 1609687534000},5.0,{'$date': 1609632000000},4.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,28.00,5ff1e1eacfcf6c399c274ae6
4,{'$oid': '5ff1e1d20a7214ada1000561'},5.0,All-receipts receipt bonus,{'$date': 1609687506000},{'$date': 1609687506000},{'$date': 1609687511000},{'$date': 1609687511000},{'$date': 1609687506000},5.0,{'$date': 1609601106000},2.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,1.00,5ff1e194b6a9d73a3a9f1052
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1114,{'$oid': '603cc0630a720fde100003e6'},25.0,COMPLETE_NONPARTNER_RECEIPT,{'$date': 1614594147000},{'$date': 1614594147000},NaN,{'$date': 1614594148000},NaN,25.0,{'$date': 1597622400000},2.0,"[{'barcode': 'B076FJ92M4', 'description': 'mue...",REJECTED,34.96,5fc961c3b8cfca11a077dd33
1115,{'$oid': '603d0b710a720fde1000042a'},NaN,NaN,{'$date': 1614613361873},{'$date': 1614613361873},NaN,{'$date': 1614613361873},NaN,NaN,NaN,NaN,NaN,SUBMITTED,NaN,5fc961c3b8cfca11a077dd33
1116,{'$oid': '603cf5290a720fde10000413'},NaN,NaN,{'$date': 1614607657664},{'$date': 1614607657664},NaN,{'$date': 1614607657664},NaN,NaN,NaN,NaN,NaN,SUBMITTED,NaN,5fc961c3b8cfca11a077dd33
1117,{'$oid': '603ce7100a7217c72c000405'},25.0,COMPLETE_NONPARTNER_RECEIPT,{'$date': 1614604048000},{'$date': 1614604048000},NaN,{'$date': 1614604049000},NaN,25.0,{'$date': 1597622400000},2.0,"[{'barcode': 'B076FJ92M4', 'description': 'mue...",REJECTED,34.96,5fc961c3b8cfca11a077dd33
1118,{'$oid': '603c4fea0a7217c72c000389'},NaN,NaN,{'$date': 1614565354962},{'$date': 1614565354962},NaN,{'$date': 1614565354962},NaN,NaN,NaN,NaN,NaN,SUBMITTED,NaN,5fc961c3b8cfca11a077dd33

In [2]:
# Checking Data Types
receipt_df.dtypes

_id                         object
bonusPointsEarned          float64
bonusPointsEarnedReason     object
createDate                  object
dateScanned                 object
finishedDate                object
modifyDate                  object
pointsAwardedDate           object
pointsEarned               float64
purchaseDate                object
purchasedItemCount         float64
rewardsReceiptItemList      object
rewardsReceiptStatus        object
totalSpent                 float64
userId                      object
dtype: object

In [3]:
# Normalizing the Json format in required columns 
receipt_df['_id'] = pd.json_normalize(receipt_df['_id'],max_level=1)
receipt_df['createDate'] = pd.json_normalize(receipt_df['createDate'],max_level=1)
receipt_df['dateScanned'] = pd.json_normalize(receipt_df['dateScanned'],max_level=1)
receipt_df['modifyDate'] = pd.json_normalize(receipt_df['modifyDate'],max_level=1)
receipt_df['finishedDate'] = pd.json_normalize(receipt_df['finishedDate'])
receipt_df['pointsAwardedDate'] = pd.json_normalize(receipt_df['pointsAwardedDate'])
receipt_df['purchaseDate'] = pd.json_normalize(receipt_df['purchaseDate'])

In [4]:
# Renaming column names
receipt_df.rename(columns = {'_id':'receiptId'}, inplace = True)

In [5]:
receipt_df

,receiptId,bonusPointsEarned,bonusPointsEarnedReason,createDate,dateScanned,finishedDate,modifyDate,pointsAwardedDate,pointsEarned,purchaseDate,purchasedItemCount,rewardsReceiptItemList,rewardsReceiptStatus,totalSpent,userId
0,5ff1e1eb0a720f0523000575,500.0,"Receipt number 2 completed, bonus point schedu...",1609687531000,1609687531000,1.609688e+12,1609687536000,1.609688e+12,500.0,1.609632e+12,5.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,26.00,5ff1e1eacfcf6c399c274ae6
1,5ff1e1bb0a720f052300056b,150.0,"Receipt number 5 completed, bonus point schedu...",1609687483000,1609687483000,1.609687e+12,1609687488000,1.609687e+12,150.0,1.609601e+12,2.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,11.00,5ff1e194b6a9d73a3a9f1052
2,5ff1e1f10a720f052300057a,5.0,All-receipts receipt bonus,1609687537000,1609687537000,NaN,1609687542000,NaN,5.0,1.609632e+12,1.0,"[{'needsFetchReview': False, 'partnerItemId': ...",REJECTED,10.00,5ff1e1f1cfcf6c399c274b0b
3,5ff1e1ee0a7214ada100056f,5.0,All-receipts receipt bonus,1609687534000,1609687534000,1.609688e+12,1609687539000,1.609688e+12,5.0,1.609632e+12,4.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,28.00,5ff1e1eacfcf6c399c274ae6
4,5ff1e1d20a7214ada1000561,5.0,All-receipts receipt bonus,1609687506000,1609687506000,1.609688e+12,1609687511000,1.609688e+12,5.0,1.609601e+12,2.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,1.00,5ff1e194b6a9d73a3a9f1052
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1114,603cc0630a720fde100003e6,25.0,COMPLETE_NONPARTNER_RECEIPT,1614594147000,1614594147000,NaN,1614594148000,NaN,25.0,1.597622e+12,2.0,"[{'barcode': 'B076FJ92M4', 'description': 'mue...",REJECTED,34.96,5fc961c3b8cfca11a077dd33
1115,603d0b710a720fde1000042a,NaN,NaN,1614613361873,1614613361873,NaN,1614613361873,NaN,NaN,NaN,NaN,NaN,SUBMITTED,NaN,5fc961c3b8cfca11a077dd33
1116,603cf5290a720fde10000413,NaN,NaN,1614607657664,1614607657664,NaN,1614607657664,NaN,NaN,NaN,NaN,NaN,SUBMITTED,NaN,5fc961c3b8cfca11a077dd33
1117,603ce7100a7217c72c000405,25.0,COMPLETE_NONPARTNER_RECEIPT,1614604048000,1614604048000,NaN,1614604049000,NaN,25.0,1.597622e+12,2.0,"[{'barcode': 'B076FJ92M4', 'description': 'mue...",REJECTED,34.96,5fc961c3b8cfca11a077dd33
1118,603c4fea0a7217c72c000389,NaN,NaN,1614565354962,1614565354962,NaN,1614565354962,NaN,NaN,NaN,NaN,NaN,SUBMITTED,NaN,5fc961c3b8cfca11a077dd33

In [6]:
# Converting the columns to appropriate format
receipt_df['createDate'] = pd.to_datetime(receipt_df['createDate'],unit='ms')
receipt_df['dateScanned'] = pd.to_datetime(receipt_df['dateScanned'],unit='ms')
receipt_df['modifyDate'] = pd.to_datetime(receipt_df['modifyDate'],unit='ms')
receipt_df['finishedDate'] = pd.to_datetime(receipt_df['finishedDate'],unit='ms')
receipt_df['pointsAwardedDate'] = pd.to_datetime(receipt_df['pointsAwardedDate'],unit='ms')
receipt_df['purchaseDate'] = pd.to_datetime(receipt_df['purchaseDate'],unit='ms')
receipt_df['pointsEarned'] = pd.to_numeric(receipt_df['pointsEarned'])
receipt_df['purchasedItemCount'] = pd.to_numeric(receipt_df['purchasedItemCount'])
receipt_df = receipt_df.astype({'receiptId':'string','userId':'string','bonusPointsEarnedReason':'string','rewardsReceiptStatus':'string'})
receipt_df.head()

,receiptId,bonusPointsEarned,bonusPointsEarnedReason,createDate,dateScanned,finishedDate,modifyDate,pointsAwardedDate,pointsEarned,purchaseDate,purchasedItemCount,rewardsReceiptItemList,rewardsReceiptStatus,totalSpent,userId
0,5ff1e1eb0a720f0523000575,500.0,"Receipt number 2 completed, bonus point schedu...",2021-01-03 15:25:31,2021-01-03 15:25:31,2021-01-03 15:25:31,2021-01-03 15:25:36,2021-01-03 15:25:31,500.0,2021-01-03 00:00:00,5.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,26.0,5ff1e1eacfcf6c399c274ae6
1,5ff1e1bb0a720f052300056b,150.0,"Receipt number 5 completed, bonus point schedu...",2021-01-03 15:24:43,2021-01-03 15:24:43,2021-01-03 15:24:43,2021-01-03 15:24:48,2021-01-03 15:24:43,150.0,2021-01-02 15:24:43,2.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,11.0,5ff1e194b6a9d73a3a9f1052
2,5ff1e1f10a720f052300057a,5.0,All-receipts receipt bonus,2021-01-03 15:25:37,2021-01-03 15:25:37,NaT,2021-01-03 15:25:42,NaT,5.0,2021-01-03 00:00:00,1.0,"[{'needsFetchReview': False, 'partnerItemId': ...",REJECTED,10.0,5ff1e1f1cfcf6c399c274b0b
3,5ff1e1ee0a7214ada100056f,5.0,All-receipts receipt bonus,2021-01-03 15:25:34,2021-01-03 15:25:34,2021-01-03 15:25:34,2021-01-03 15:25:39,2021-01-03 15:25:34,5.0,2021-01-03 00:00:00,4.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,28.0,5ff1e1eacfcf6c399c274ae6
4,5ff1e1d20a7214ada1000561,5.0,All-receipts receipt bonus,2021-01-03 15:25:06,2021-01-03 15:25:06,2021-01-03 15:25:11,2021-01-03 15:25:11,2021-01-03 15:25:06,5.0,2021-01-02 15:25:06,2.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,1.0,5ff1e194b6a9d73a3a9f1052

In [7]:
# Creating another table for items table with rceeiptId and userId as foreign keys
dfrewardslist = receipt_df.filter(['rewardsReceiptItemList','userId','dateScanned', 'receiptId'], axis = 1)
rewards_df = dfrewardslist[~dfrewardslist['rewardsReceiptItemList'].isnull()]
rewards_df

,rewardsReceiptItemList,userId,dateScanned,receiptId
0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",5ff1e1eacfcf6c399c274ae6,2021-01-03 15:25:31,5ff1e1eb0a720f0523000575
1,"[{'barcode': '4011', 'description': 'ITEM NOT ...",5ff1e194b6a9d73a3a9f1052,2021-01-03 15:24:43,5ff1e1bb0a720f052300056b
2,"[{'needsFetchReview': False, 'partnerItemId': ...",5ff1e1f1cfcf6c399c274b0b,2021-01-03 15:25:37,5ff1e1f10a720f052300057a
3,"[{'barcode': '4011', 'description': 'ITEM NOT ...",5ff1e1eacfcf6c399c274ae6,2021-01-03 15:25:34,5ff1e1ee0a7214ada100056f
4,"[{'barcode': '4011', 'description': 'ITEM NOT ...",5ff1e194b6a9d73a3a9f1052,2021-01-03 15:25:06,5ff1e1d20a7214ada1000561
...,...,...,...,...
1106,"[{'barcode': 'B076FJ92M4', 'description': 'mue...",5fc961c3b8cfca11a077dd33,2021-03-01 05:32:28,603c7c6c0a7217c72c0003b3
1112,"[{'barcode': 'B076FJ92M4', 'description': 'mue...",5fc961c3b8cfca11a077dd33,2021-03-01 01:02:28,603c3d240a720fde10000373
1113,"[{'barcode': 'B076FJ92M4', 'description': 'mue...",5fc961c3b8cfca11a077dd33,2021-03-01 10:32:28,603cc2bc0a720fde100003e9
1114,"[{'barcode': 'B076FJ92M4', 'description': 'mue...",5fc961c3b8cfca11a077dd33,2021-03-01 10:22:27,603cc0630a720fde100003e6
1117,"[{'barcode': 'B076FJ92M4', 'description': 'mue...",5fc961c3b8cfca11a077dd33,2021-03-01 13:07:28,603ce7100a7217c72c000405

In [8]:
# Deleting receipt item list column from receipt table as it will be linked using items table
del receipt_df['rewardsReceiptItemList']
receipt_df.dtypes

receiptId                          string
bonusPointsEarned                 float64
bonusPointsEarnedReason            string
createDate                 datetime64[ns]
dateScanned                datetime64[ns]
finishedDate               datetime64[ns]
modifyDate                 datetime64[ns]
pointsAwardedDate          datetime64[ns]
pointsEarned                      float64
purchaseDate               datetime64[ns]
purchasedItemCount                float64
rewardsReceiptStatus               string
totalSpent                        float64
userId                             string
dtype: object

In [9]:
# Saving the receipt dataframe as a table(csv)
receipt_df.to_csv('C:/Users/Parth Parsana/OneDrive/Desktop/Interview prep/Fetch reward/receipts.csv',index=False)

In [10]:
# Creating a new items table from the receipt item list column, using key : value pairings (Feature engineering)
items_df = pd.concat([pd.DataFrame(x) for x in rewards_df['rewardsReceiptItemList']], keys = rewards_df['receiptId']).reset_index()
items_df

,receiptId,level_1,barcode,description,finalPrice,itemPrice,needsFetchReview,partnerItemId,preventTargetGapPoints,quantityPurchased,...,itemNumber,originalMetaBriteQuantityPurchased,pointsEarned,targetPrice,competitiveProduct,originalFinalPrice,originalMetaBriteItemPrice,deleted,priceAfterCoupon,metabriteCampaignId
0,5ff1e1eb0a720f0523000575,0,4011,ITEM NOT FOUND,26.00,26.00,False,1,True,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,5ff1e1bb0a720f052300056b,0,4011,ITEM NOT FOUND,1,1,NaN,1,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5ff1e1bb0a720f052300056b,1,028400642255,DORITOS TORTILLA CHIP SPICY SWEET CHILI REDUCE...,10.00,10.00,True,2,True,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,5ff1e1f10a720f052300057a,0,NaN,NaN,NaN,NaN,False,1,True,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5ff1e1ee0a7214ada100056f,0,4011,ITEM NOT FOUND,28.00,28.00,False,1,True,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6936,603cc2bc0a720fde100003e9,1,B07BRRLSVC,thindust summer face mask - sun protection nec...,11.99,11.99,NaN,1,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.99,NaN
6937,603cc0630a720fde100003e6,0,B076FJ92M4,mueller austria hypergrind precision electric ...,22.97,22.97,NaN,0,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22.97,NaN
6938,603cc0630a720fde100003e6,1,B07BRRLSVC,thindust summer face mask - sun protection nec...,11.99,11.99,NaN,1,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.99,NaN
6939,603ce7100a7217c72c000405,0,B076FJ92M4,mueller austria hypergrind precision electric ...,22.97,22.97,NaN,0,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22.97,NaN
6940,603ce7100a7217c72c000405,1,B07BRRLSVC,thindust summer face mask - sun protection nec...,11.99,11.99,NaN,1,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.99,NaN

In [11]:
# Checking for sum of null values in every column
items_df.isna().sum()

receiptId                                0
level_1                                  0
barcode                               3851
description                            381
finalPrice                             174
itemPrice                              174
needsFetchReview                      6128
partnerItemId                            0
preventTargetGapPoints                6583
quantityPurchased                      174
userFlaggedBarcode                    6604
userFlaggedNewItem                    6618
userFlaggedPrice                      6642
userFlaggedQuantity                   6642
needsFetchReviewReason                6722
pointsNotAwardedReason                6601
pointsPayerId                         5674
rewardsGroup                          5210
rewardsProductPartnerId               4672
userFlaggedDescription                6736
originalMetaBriteBarcode              6870
originalMetaBriteDescription          6931
brandCode                             4341
competitorRewardsGroup                6666
discountedItemPrice                   1172
originalReceiptItemText               1181
itemNumber                            6788
originalMetaBriteQuantityPurchased    6926
pointsEarned                          6014
targetPrice                           6563
competitiveProduct                    6296
originalFinalPrice                    6932
originalMetaBriteItemPrice            6932
deleted                               6932
priceAfterCoupon                      5985
metabriteCampaignId                   6078
dtype: int64

In [12]:
# Merging the reward table with receipt item list to get the new items table
item_df = pd.merge(rewards_df, items_df, how='left', on = 'receiptId')
del item_df['rewardsReceiptItemList']
item_df

,userId,dateScanned,receiptId,level_1,barcode,description,finalPrice,itemPrice,needsFetchReview,partnerItemId,...,itemNumber,originalMetaBriteQuantityPurchased,pointsEarned,targetPrice,competitiveProduct,originalFinalPrice,originalMetaBriteItemPrice,deleted,priceAfterCoupon,metabriteCampaignId
0,5ff1e1eacfcf6c399c274ae6,2021-01-03 15:25:31,5ff1e1eb0a720f0523000575,0,4011,ITEM NOT FOUND,26.00,26.00,False,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,5ff1e194b6a9d73a3a9f1052,2021-01-03 15:24:43,5ff1e1bb0a720f052300056b,0,4011,ITEM NOT FOUND,1,1,NaN,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5ff1e194b6a9d73a3a9f1052,2021-01-03 15:24:43,5ff1e1bb0a720f052300056b,1,028400642255,DORITOS TORTILLA CHIP SPICY SWEET CHILI REDUCE...,10.00,10.00,True,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,5ff1e1f1cfcf6c399c274b0b,2021-01-03 15:25:37,5ff1e1f10a720f052300057a,0,NaN,NaN,NaN,NaN,False,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5ff1e1eacfcf6c399c274ae6,2021-01-03 15:25:34,5ff1e1ee0a7214ada100056f,0,4011,ITEM NOT FOUND,28.00,28.00,False,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6936,5fc961c3b8cfca11a077dd33,2021-03-01 10:32:28,603cc2bc0a720fde100003e9,1,B07BRRLSVC,thindust summer face mask - sun protection nec...,11.99,11.99,NaN,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.99,NaN
6937,5fc961c3b8cfca11a077dd33,2021-03-01 10:22:27,603cc0630a720fde100003e6,0,B076FJ92M4,mueller austria hypergrind precision electric ...,22.97,22.97,NaN,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22.97,NaN
6938,5fc961c3b8cfca11a077dd33,2021-03-01 10:22:27,603cc0630a720fde100003e6,1,B07BRRLSVC,thindust summer face mask - sun protection nec...,11.99,11.99,NaN,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.99,NaN
6939,5fc961c3b8cfca11a077dd33,2021-03-01 13:07:28,603ce7100a7217c72c000405,0,B076FJ92M4,mueller austria hypergrind precision electric ...,22.97,22.97,NaN,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22.97,NaN
6940,5fc961c3b8cfca11a077dd33,2021-03-01 13:07:28,603ce7100a7217c72c000405,1,B07BRRLSVC,thindust summer face mask - sun protection nec...,11.99,11.99,NaN,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.99,NaN

In [13]:
# Saving the items dataframe as a table(csv)
item_df.to_csv('C:/Users/Parth Parsana/OneDrive/Desktop/Interview prep/Fetch reward/items.csv',index=False)

## Converting Brands JSON to readble CSV

In [14]:
# Reading the brands json file using read_json and creating a dataframe
brands_path = 'C:/Users/Parth Parsana/OneDrive/Desktop/Interview prep/Fetch reward/brands.json'
brands_df = pd.read_json(brands_path, lines=True)
brands_df = pd.DataFrame(brands_df)
brands_df

,_id,barcode,category,categoryCode,cpg,name,topBrand,brandCode
0,{'$oid': '601ac115be37ce2ead437551'},511111019862,Baking,BAKING,"{'$id': {'$oid': '601ac114be37ce2ead437550'}, ...",test brand @1612366101024,0.0,NaN
1,{'$oid': '601c5460be37ce2ead43755f'},511111519928,Beverages,BEVERAGES,"{'$id': {'$oid': '5332f5fbe4b03c9a25efd0ba'}, ...",Starbucks,0.0,STARBUCKS
2,{'$oid': '601ac142be37ce2ead43755d'},511111819905,Baking,BAKING,"{'$id': {'$oid': '601ac142be37ce2ead437559'}, ...",test brand @1612366146176,0.0,TEST BRANDCODE @1612366146176
3,{'$oid': '601ac142be37ce2ead43755a'},511111519874,Baking,BAKING,"{'$id': {'$oid': '601ac142be37ce2ead437559'}, ...",test brand @1612366146051,0.0,TEST BRANDCODE @1612366146051
4,{'$oid': '601ac142be37ce2ead43755e'},511111319917,Candy & Sweets,CANDY_AND_SWEETS,"{'$id': {'$oid': '5332fa12e4b03c9a25efd1e7'}, ...",test brand @1612366146827,0.0,TEST BRANDCODE @1612366146827
...,...,...,...,...,...,...,...,...
1162,{'$oid': '5f77274dbe37ce6b592e90c0'},511111116752,Baking,BAKING,"{'$ref': 'Cogs', '$id': {'$oid': '5f77274dbe37...",test brand @1601644365844,NaN,NaN
1163,{'$oid': '5dc1fca91dda2c0ad7da64ae'},511111706328,Breakfast & Cereal,NaN,"{'$ref': 'Cogs', '$id': {'$oid': '53e10d6368ab...",Dippin DotsÂ® Cereal,NaN,DIPPIN DOTS CEREAL
1164,{'$oid': '5f494c6e04db711dd8fe87e7'},511111416173,Candy & Sweets,CANDY_AND_SWEETS,"{'$ref': 'Cogs', '$id': {'$oid': '5332fa12e4b0...",test brand @1598639215217,NaN,TEST BRANDCODE @1598639215217
1165,{'$oid': '5a021611e4b00efe02b02a57'},511111400608,Grocery,NaN,"{'$ref': 'Cogs', '$id': {'$oid': '5332f5f6e4b0...",LIPTON TEA Leaves,0.0,LIPTON TEA Leaves
1166,{'$oid': '6026d757be37ce6369301468'},511111019930,Baking,BAKING,"{'$id': {'$oid': '6026d757be37ce6369301467'}, ...",test brand @1613158231643,0.0,TEST BRANDCODE @1613158231644

In [15]:
# Checking data types
brands_df.dtypes

_id              object
barcode           int64
category         object
categoryCode     object
cpg              object
name             object
topBrand        float64
brandCode        object
dtype: object

In [16]:
# Normalizing the id field and renaming column names
brands_df['_id'] = pd.json_normalize(brands_df['_id'],max_level=1)
brands_df.rename(columns = {'_id':'brandId'}, inplace = True)
brands_df

,brandId,barcode,category,categoryCode,cpg,name,topBrand,brandCode
0,601ac115be37ce2ead437551,511111019862,Baking,BAKING,"{'$id': {'$oid': '601ac114be37ce2ead437550'}, ...",test brand @1612366101024,0.0,NaN
1,601c5460be37ce2ead43755f,511111519928,Beverages,BEVERAGES,"{'$id': {'$oid': '5332f5fbe4b03c9a25efd0ba'}, ...",Starbucks,0.0,STARBUCKS
2,601ac142be37ce2ead43755d,511111819905,Baking,BAKING,"{'$id': {'$oid': '601ac142be37ce2ead437559'}, ...",test brand @1612366146176,0.0,TEST BRANDCODE @1612366146176
3,601ac142be37ce2ead43755a,511111519874,Baking,BAKING,"{'$id': {'$oid': '601ac142be37ce2ead437559'}, ...",test brand @1612366146051,0.0,TEST BRANDCODE @1612366146051
4,601ac142be37ce2ead43755e,511111319917,Candy & Sweets,CANDY_AND_SWEETS,"{'$id': {'$oid': '5332fa12e4b03c9a25efd1e7'}, ...",test brand @1612366146827,0.0,TEST BRANDCODE @1612366146827
...,...,...,...,...,...,...,...,...
1162,5f77274dbe37ce6b592e90c0,511111116752,Baking,BAKING,"{'$ref': 'Cogs', '$id': {'$oid': '5f77274dbe37...",test brand @1601644365844,NaN,NaN
1163,5dc1fca91dda2c0ad7da64ae,511111706328,Breakfast & Cereal,NaN,"{'$ref': 'Cogs', '$id': {'$oid': '53e10d6368ab...",Dippin DotsÂ® Cereal,NaN,DIPPIN DOTS CEREAL
1164,5f494c6e04db711dd8fe87e7,511111416173,Candy & Sweets,CANDY_AND_SWEETS,"{'$ref': 'Cogs', '$id': {'$oid': '5332fa12e4b0...",test brand @1598639215217,NaN,TEST BRANDCODE @1598639215217
1165,5a021611e4b00efe02b02a57,511111400608,Grocery,NaN,"{'$ref': 'Cogs', '$id': {'$oid': '5332f5f6e4b0...",LIPTON TEA Leaves,0.0,LIPTON TEA Leaves
1166,6026d757be37ce6369301468,511111019930,Baking,BAKING,"{'$id': {'$oid': '6026d757be37ce6369301467'}, ...",test brand @1613158231643,0.0,TEST BRANDCODE @1613158231644

In [17]:
# Creating a cpg dataframe with brandId as index
dfcpg = brands_df.filter(['cpg', 'brandId'], axis = 1)
cpg_df = dfcpg[~dfcpg['cpg'].isnull()]
cpg_df

,cpg,brandId
0,"{'$id': {'$oid': '601ac114be37ce2ead437550'}, ...",601ac115be37ce2ead437551
1,"{'$id': {'$oid': '5332f5fbe4b03c9a25efd0ba'}, ...",601c5460be37ce2ead43755f
2,"{'$id': {'$oid': '601ac142be37ce2ead437559'}, ...",601ac142be37ce2ead43755d
3,"{'$id': {'$oid': '601ac142be37ce2ead437559'}, ...",601ac142be37ce2ead43755a
4,"{'$id': {'$oid': '5332fa12e4b03c9a25efd1e7'}, ...",601ac142be37ce2ead43755e
...,...,...
1162,"{'$ref': 'Cogs', '$id': {'$oid': '5f77274dbe37...",5f77274dbe37ce6b592e90c0
1163,"{'$ref': 'Cogs', '$id': {'$oid': '53e10d6368ab...",5dc1fca91dda2c0ad7da64ae
1164,"{'$ref': 'Cogs', '$id': {'$oid': '5332fa12e4b0...",5f494c6e04db711dd8fe87e7
1165,"{'$ref': 'Cogs', '$id': {'$oid': '5332f5f6e4b0...",5a021611e4b00efe02b02a57
1166,"{'$id': {'$oid': '6026d757be37ce6369301467'}, ...",6026d757be37ce6369301468

In [18]:
# Creating a dataframe with cpg column values and brandId as primary key (Feature engineering)
cpgs_df = pd.concat([pd.DataFrame(x) for x in cpg_df['cpg']], keys = cpg_df['brandId']).reset_index()
cpgs_df

                       brandId level_1                       $id  $ref
0     601ac115be37ce2ead437551    $oid  601ac114be37ce2ead437550  Cogs
1     601c5460be37ce2ead43755f    $oid  5332f5fbe4b03c9a25efd0ba  Cogs
2     601ac142be37ce2ead43755d    $oid  601ac142be37ce2ead437559  Cogs
3     601ac142be37ce2ead43755a    $oid  601ac142be37ce2ead437559  Cogs
4     601ac142be37ce2ead43755e    $oid  5332fa12e4b03c9a25efd1e7  Cogs
...                        ...     ...                       ...   ...
1162  5f77274dbe37ce6b592e90c0    $oid  5f77274dbe37ce6b592e90bf  Cogs
1163  5dc1fca91dda2c0ad7da64ae    $oid  53e10d6368abd3c7065097cc  Cogs
1164  5f494c6e04db711dd8fe87e7    $oid  5332fa12e4b03c9a25efd1e7  Cogs
1165  5a021611e4b00efe02b02a57    $oid  5332f5f6e4b03c9a25efd0b4  Cogs
1166  6026d757be37ce6369301468    $oid  6026d757be37ce6369301467  Cogs

[1167 rows x 4 columns]

In [19]:
# Renaming the column names
cpgs_df = cpgs_df.rename(columns = {'$id': 'cpg_Id', '$ref': 'cpf_Ref'})
cpgs_df

                       brandId level_1                    cpg_Id cpf_Ref
0     601ac115be37ce2ead437551    $oid  601ac114be37ce2ead437550    Cogs
1     601c5460be37ce2ead43755f    $oid  5332f5fbe4b03c9a25efd0ba    Cogs
2     601ac142be37ce2ead43755d    $oid  601ac142be37ce2ead437559    Cogs
3     601ac142be37ce2ead43755a    $oid  601ac142be37ce2ead437559    Cogs
4     601ac142be37ce2ead43755e    $oid  5332fa12e4b03c9a25efd1e7    Cogs
...                        ...     ...                       ...     ...
1162  5f77274dbe37ce6b592e90c0    $oid  5f77274dbe37ce6b592e90bf    Cogs
1163  5dc1fca91dda2c0ad7da64ae    $oid  53e10d6368abd3c7065097cc    Cogs
1164  5f494c6e04db711dd8fe87e7    $oid  5332fa12e4b03c9a25efd1e7    Cogs
1165  5a021611e4b00efe02b02a57    $oid  5332f5f6e4b03c9a25efd0b4    Cogs
1166  6026d757be37ce6369301468    $oid  6026d757be37ce6369301467    Cogs

[1167 rows x 4 columns]

In [20]:
# joining the brand and cpgs dataframe to create the final brand dataframe
b_df = pd.merge(brands_df, cpgs_df, how='left', on = 'brandId')
del b_df['cpg']
del b_df['level_1']
b_df

,brandId,barcode,category,categoryCode,name,topBrand,brandCode,cpg_Id,cpf_Ref
0,601ac115be37ce2ead437551,511111019862,Baking,BAKING,test brand @1612366101024,0.0,NaN,601ac114be37ce2ead437550,Cogs
1,601c5460be37ce2ead43755f,511111519928,Beverages,BEVERAGES,Starbucks,0.0,STARBUCKS,5332f5fbe4b03c9a25efd0ba,Cogs
2,601ac142be37ce2ead43755d,511111819905,Baking,BAKING,test brand @1612366146176,0.0,TEST BRANDCODE @1612366146176,601ac142be37ce2ead437559,Cogs
3,601ac142be37ce2ead43755a,511111519874,Baking,BAKING,test brand @1612366146051,0.0,TEST BRANDCODE @1612366146051,601ac142be37ce2ead437559,Cogs
4,601ac142be37ce2ead43755e,511111319917,Candy & Sweets,CANDY_AND_SWEETS,test brand @1612366146827,0.0,TEST BRANDCODE @1612366146827,5332fa12e4b03c9a25efd1e7,Cogs
...,...,...,...,...,...,...,...,...,...
1162,5f77274dbe37ce6b592e90c0,511111116752,Baking,BAKING,test brand @1601644365844,NaN,NaN,5f77274dbe37ce6b592e90bf,Cogs
1163,5dc1fca91dda2c0ad7da64ae,511111706328,Breakfast & Cereal,NaN,Dippin DotsÂ® Cereal,NaN,DIPPIN DOTS CEREAL,53e10d6368abd3c7065097cc,Cogs
1164,5f494c6e04db711dd8fe87e7,511111416173,Candy & Sweets,CANDY_AND_SWEETS,test brand @1598639215217,NaN,TEST BRANDCODE @1598639215217,5332fa12e4b03c9a25efd1e7,Cogs
1165,5a021611e4b00efe02b02a57,511111400608,Grocery,NaN,LIPTON TEA Leaves,0.0,LIPTON TEA Leaves,5332f5f6e4b03c9a25efd0b4,Cogs
1166,6026d757be37ce6369301468,511111019930,Baking,BAKING,test brand @1613158231643,0.0,TEST BRANDCODE @1613158231644,6026d757be37ce6369301467,Cogs

In [21]:
# Checking column data types
b_df.dtypes

brandId          object
barcode           int64
category         object
categoryCode     object
name             object
topBrand        float64
brandCode        object
cpg_Id           object
cpf_Ref          object
dtype: object

In [22]:
# Filling NA values in topbrand with 0(false) and changing data types as per required
b_df['topBrand'] = b_df['topBrand'].fillna(0)
b_df = b_df.astype({'brandId':'string','cpg_Id':'string','cpf_Ref':'string','brandCode':'string','name':'string',
                    'category':'string','categoryCode':'string','topBrand':'bool'})
b_df

,brandId,barcode,category,categoryCode,name,topBrand,brandCode,cpg_Id,cpf_Ref
0,601ac115be37ce2ead437551,511111019862,Baking,BAKING,test brand @1612366101024,False,<NA>,601ac114be37ce2ead437550,Cogs
1,601c5460be37ce2ead43755f,511111519928,Beverages,BEVERAGES,Starbucks,False,STARBUCKS,5332f5fbe4b03c9a25efd0ba,Cogs
2,601ac142be37ce2ead43755d,511111819905,Baking,BAKING,test brand @1612366146176,False,TEST BRANDCODE @1612366146176,601ac142be37ce2ead437559,Cogs
3,601ac142be37ce2ead43755a,511111519874,Baking,BAKING,test brand @1612366146051,False,TEST BRANDCODE @1612366146051,601ac142be37ce2ead437559,Cogs
4,601ac142be37ce2ead43755e,511111319917,Candy & Sweets,CANDY_AND_SWEETS,test brand @1612366146827,False,TEST BRANDCODE @1612366146827,5332fa12e4b03c9a25efd1e7,Cogs
...,...,...,...,...,...,...,...,...,...
1162,5f77274dbe37ce6b592e90c0,511111116752,Baking,BAKING,test brand @1601644365844,False,<NA>,5f77274dbe37ce6b592e90bf,Cogs
1163,5dc1fca91dda2c0ad7da64ae,511111706328,Breakfast & Cereal,<NA>,Dippin DotsÂ® Cereal,False,DIPPIN DOTS CEREAL,53e10d6368abd3c7065097cc,Cogs
1164,5f494c6e04db711dd8fe87e7,511111416173,Candy & Sweets,CANDY_AND_SWEETS,test brand @1598639215217,False,TEST BRANDCODE @1598639215217,5332fa12e4b03c9a25efd1e7,Cogs
1165,5a021611e4b00efe02b02a57,511111400608,Grocery,<NA>,LIPTON TEA Leaves,False,LIPTON TEA Leaves,5332f5f6e4b03c9a25efd0b4,Cogs
1166,6026d757be37ce6369301468,511111019930,Baking,BAKING,test brand @1613158231643,False,TEST BRANDCODE @1613158231644,6026d757be37ce6369301467,Cogs

In [23]:
# Checking data types
b_df.dtypes

brandId         string
barcode          int64
category        string
categoryCode    string
name            string
topBrand          bool
brandCode       string
cpg_Id          string
cpf_Ref         string
dtype: object

In [24]:
# Saving the brands dataframe as a table(csv)
b_df.to_csv('C:/Users/Parth Parsana/OneDrive/Desktop/Interview prep/Fetch reward/brands.csv',index=False)

## Converting Users JSON to readble CSV

In [25]:
# Reading the users json file using read_json and creating a dataframe
users_path = 'C:/Users/Parth Parsana/OneDrive/Desktop/Interview prep/Fetch reward/users.json'
users_df = pd.read_json(users_path, lines=True)
users_df = pd.DataFrame(users_df)
users_df

,_id,active,createdDate,lastLogin,role,signUpSource,state
0,{'$oid': '5ff1e194b6a9d73a3a9f1052'},True,{'$date': 1609687444800},{'$date': 1609687537858},consumer,Email,WI
1,{'$oid': '5ff1e194b6a9d73a3a9f1052'},True,{'$date': 1609687444800},{'$date': 1609687537858},consumer,Email,WI
2,{'$oid': '5ff1e194b6a9d73a3a9f1052'},True,{'$date': 1609687444800},{'$date': 1609687537858},consumer,Email,WI
3,{'$oid': '5ff1e1eacfcf6c399c274ae6'},True,{'$date': 1609687530554},{'$date': 1609687530597},consumer,Email,WI
4,{'$oid': '5ff1e194b6a9d73a3a9f1052'},True,{'$date': 1609687444800},{'$date': 1609687537858},consumer,Email,WI
...,...,...,...,...,...,...,...
490,{'$oid': '54943462e4b07e684157a532'},True,{'$date': 1418998882381},{'$date': 1614963143204},fetch-staff,NaN,NaN
491,{'$oid': '54943462e4b07e684157a532'},True,{'$date': 1418998882381},{'$date': 1614963143204},fetch-staff,NaN,NaN
492,{'$oid': '54943462e4b07e684157a532'},True,{'$date': 1418998882381},{'$date': 1614963143204},fetch-staff,NaN,NaN
493,{'$oid': '54943462e4b07e684157a532'},True,{'$date': 1418998882381},{'$date': 1614963143204},fetch-staff,NaN,NaN
494,{'$oid': '54943462e4b07e684157a532'},True,{'$date': 1418998882381},{'$date': 1614963143204},fetch-staff,NaN,NaN

In [26]:
# Normalizing the Json format in required columns 
users_df['_id'] = pd.json_normalize(users_df['_id'],max_level=1)
users_df['createdDate'] = pd.json_normalize(users_df['createdDate'],max_level=1)
users_df['lastLogin'] = pd.json_normalize(users_df['lastLogin'])
users_df

,_id,active,createdDate,lastLogin,role,signUpSource,state
0,5ff1e194b6a9d73a3a9f1052,True,1609687444800,1.609688e+12,consumer,Email,WI
1,5ff1e194b6a9d73a3a9f1052,True,1609687444800,1.609688e+12,consumer,Email,WI
2,5ff1e194b6a9d73a3a9f1052,True,1609687444800,1.609688e+12,consumer,Email,WI
3,5ff1e1eacfcf6c399c274ae6,True,1609687530554,1.609688e+12,consumer,Email,WI
4,5ff1e194b6a9d73a3a9f1052,True,1609687444800,1.609688e+12,consumer,Email,WI
...,...,...,...,...,...,...,...
490,54943462e4b07e684157a532,True,1418998882381,1.614963e+12,fetch-staff,NaN,NaN
491,54943462e4b07e684157a532,True,1418998882381,1.614963e+12,fetch-staff,NaN,NaN
492,54943462e4b07e684157a532,True,1418998882381,1.614963e+12,fetch-staff,NaN,NaN
493,54943462e4b07e684157a532,True,1418998882381,1.614963e+12,fetch-staff,NaN,NaN
494,54943462e4b07e684157a532,True,1418998882381,1.614963e+12,fetch-staff,NaN,NaN

In [27]:
# Checking column data types
users_df.dtypes

_id              object
active             bool
createdDate       int64
lastLogin       float64
role             object
signUpSource     object
state            object
dtype: object

In [28]:
# Converting the datatypes to required format & renaming id column
users_df['createdDate'] = pd.to_datetime(users_df['createdDate'],unit='ms')
users_df['lastLogin'] = pd.to_datetime(users_df['lastLogin'],unit='ms')
users_df.rename(columns = {'_id':'userId'}, inplace = True)
users_df = users_df.astype({'userId':'string','role':'string','signUpSource':'string','state':'string'})
users_df

,userId,active,createdDate,lastLogin,role,signUpSource,state
0,5ff1e194b6a9d73a3a9f1052,True,2021-01-03 15:24:04.800,2021-01-03 15:25:37.857999872,consumer,Email,WI
1,5ff1e194b6a9d73a3a9f1052,True,2021-01-03 15:24:04.800,2021-01-03 15:25:37.857999872,consumer,Email,WI
2,5ff1e194b6a9d73a3a9f1052,True,2021-01-03 15:24:04.800,2021-01-03 15:25:37.857999872,consumer,Email,WI
3,5ff1e1eacfcf6c399c274ae6,True,2021-01-03 15:25:30.554,2021-01-03 15:25:30.596999936,consumer,Email,WI
4,5ff1e194b6a9d73a3a9f1052,True,2021-01-03 15:24:04.800,2021-01-03 15:25:37.857999872,consumer,Email,WI
...,...,...,...,...,...,...,...
490,54943462e4b07e684157a532,True,2014-12-19 14:21:22.381,2021-03-05 16:52:23.204000000,fetch-staff,<NA>,<NA>
491,54943462e4b07e684157a532,True,2014-12-19 14:21:22.381,2021-03-05 16:52:23.204000000,fetch-staff,<NA>,<NA>
492,54943462e4b07e684157a532,True,2014-12-19 14:21:22.381,2021-03-05 16:52:23.204000000,fetch-staff,<NA>,<NA>
493,54943462e4b07e684157a532,True,2014-12-19 14:21:22.381,2021-03-05 16:52:23.204000000,fetch-staff,<NA>,<NA>
494,54943462e4b07e684157a532,True,2014-12-19 14:21:22.381,2021-03-05 16:52:23.204000000,fetch-staff,<NA>,<NA>

In [29]:
# Checking column data types
users_df.dtypes

userId                  string
active                    bool
createdDate     datetime64[ns]
lastLogin       datetime64[ns]
role                    string
signUpSource            string
state                   string
dtype: object

In [30]:
# Saving the user dataframe as a table(csv)
users_df.to_csv('C:/Users/Parth Parsana/OneDrive/Desktop/Interview prep/Fetch reward/users.csv',index=False)