In [6]:
# First let's Load the csv's
import pandas as pd

receipts = pd.read_csv ('C:/Users/Parth Parsana/OneDrive/Desktop/Interview prep/Fetch reward/receipts.csv')
receipts

,_id,bonusPointsEarned,bonusPointsEarnedReason,createDate,dateScanned,finishedDate,modifyDate,pointsAwardedDate,pointsEarned,purchaseDate,purchasedItemCount,rewardsReceiptStatus,totalSpent,userId
0,5ff1e1eb0a720f0523000575,500.0,"Receipt number 2 completed, bonus point schedu...",2021-01-03 15:25:31.000000000,2021-01-03 15:25:31.000000000,2021-01-03 15:25:31.000000000,2021-01-03 15:25:36.000000000,2021-01-03 15:25:31.000000000,500.0,2021-01-03 00:00:00,5.0,FINISHED,26.00,5ff1e1eacfcf6c399c274ae6
1,5ff1e1bb0a720f052300056b,150.0,"Receipt number 5 completed, bonus point schedu...",2021-01-03 15:24:43.000000000,2021-01-03 15:24:43.000000000,2021-01-03 15:24:43.000000000,2021-01-03 15:24:48.000000000,2021-01-03 15:24:43.000000000,150.0,2021-01-02 15:24:43,2.0,FINISHED,11.00,5ff1e194b6a9d73a3a9f1052
2,5ff1e1f10a720f052300057a,5.0,All-receipts receipt bonus,2021-01-03 15:25:37.000000000,2021-01-03 15:25:37.000000000,NaN,2021-01-03 15:25:42.000000000,NaN,5.0,2021-01-03 00:00:00,1.0,REJECTED,10.00,5ff1e1f1cfcf6c399c274b0b
3,5ff1e1ee0a7214ada100056f,5.0,All-receipts receipt bonus,2021-01-03 15:25:34.000000000,2021-01-03 15:25:34.000000000,2021-01-03 15:25:34.000000000,2021-01-03 15:25:39.000000000,2021-01-03 15:25:34.000000000,5.0,2021-01-03 00:00:00,4.0,FINISHED,28.00,5ff1e1eacfcf6c399c274ae6
4,5ff1e1d20a7214ada1000561,5.0,All-receipts receipt bonus,2021-01-03 15:25:06.000000000,2021-01-03 15:25:06.000000000,2021-01-03 15:25:11.000000000,2021-01-03 15:25:11.000000000,2021-01-03 15:25:06.000000000,5.0,2021-01-02 15:25:06,2.0,FINISHED,1.00,5ff1e194b6a9d73a3a9f1052
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1114,603cc0630a720fde100003e6,25.0,COMPLETE_NONPARTNER_RECEIPT,2021-03-01 10:22:27.000000000,2021-03-01 10:22:27.000000000,NaN,2021-03-01 10:22:28.000000000,NaN,25.0,2020-08-17 00:00:00,2.0,REJECTED,34.96,5fc961c3b8cfca11a077dd33
1115,603d0b710a720fde1000042a,NaN,NaN,2021-03-01 15:42:41.873000000,2021-03-01 15:42:41.873000000,NaN,2021-03-01 15:42:41.873000000,NaN,NaN,NaN,NaN,SUBMITTED,NaN,5fc961c3b8cfca11a077dd33
1116,603cf5290a720fde10000413,NaN,NaN,2021-03-01 14:07:37.664000000,2021-03-01 14:07:37.664000000,NaN,2021-03-01 14:07:37.664000000,NaN,NaN,NaN,NaN,SUBMITTED,NaN,5fc961c3b8cfca11a077dd33
1117,603ce7100a7217c72c000405,25.0,COMPLETE_NONPARTNER_RECEIPT,2021-03-01 13:07:28.000000000,2021-03-01 13:07:28.000000000,NaN,2021-03-01 13:07:29.000000000,NaN,25.0,2020-08-17 00:00:00,2.0,REJECTED,34.96,5fc961c3b8cfca11a077dd33
1118,603c4fea0a7217c72c000389,NaN,NaN,2021-03-01 02:22:34.962000000,2021-03-01 02:22:34.962000000,NaN,2021-03-01 02:22:34.962000000,NaN,NaN,NaN,NaN,SUBMITTED,NaN,5fc961c3b8cfca11a077dd33

## Looking at this table, we can see many datetime formats are present like createdate, finishedDate, modifyDate, datescanned, purchasedate, pointsAwardedDate. We can remove createDate because it is same as dateScanned. And ideally the day event is created is going to be when new receipt is scanned.

In [7]:
users = pd.read_csv ('C:/Users/Parth Parsana/OneDrive/Desktop/Interview prep/Fetch reward/users.csv')
users

,_id,active,createdDate,lastLogin,role,signUpSource,state
0,5ff1e194b6a9d73a3a9f1052,True,2021-01-03 15:24:04.800,2021-01-03 15:25:37.857999872,consumer,Email,WI
1,5ff1e194b6a9d73a3a9f1052,True,2021-01-03 15:24:04.800,2021-01-03 15:25:37.857999872,consumer,Email,WI
2,5ff1e194b6a9d73a3a9f1052,True,2021-01-03 15:24:04.800,2021-01-03 15:25:37.857999872,consumer,Email,WI
3,5ff1e1eacfcf6c399c274ae6,True,2021-01-03 15:25:30.554,2021-01-03 15:25:30.596999936,consumer,Email,WI
4,5ff1e194b6a9d73a3a9f1052,True,2021-01-03 15:24:04.800,2021-01-03 15:25:37.857999872,consumer,Email,WI
...,...,...,...,...,...,...,...
490,54943462e4b07e684157a532,True,2014-12-19 14:21:22.381,2021-03-05 16:52:23.204000000,fetch-staff,NaN,NaN
491,54943462e4b07e684157a532,True,2014-12-19 14:21:22.381,2021-03-05 16:52:23.204000000,fetch-staff,NaN,NaN
492,54943462e4b07e684157a532,True,2014-12-19 14:21:22.381,2021-03-05 16:52:23.204000000,fetch-staff,NaN,NaN
493,54943462e4b07e684157a532,True,2014-12-19 14:21:22.381,2021-03-05 16:52:23.204000000,fetch-staff,NaN,NaN
494,54943462e4b07e684157a532,True,2014-12-19 14:21:22.381,2021-03-05 16:52:23.204000000,fetch-staff,NaN,NaN

In [8]:
brands = pd.read_csv ('C:/Users/Parth Parsana/OneDrive/Desktop/Interview prep/Fetch reward/brands.csv')
brands

,_id,barcode,category,categoryCode,name,topBrand,brandCode,cpg_Id,cpf_Ref
0,601ac115be37ce2ead437551,511111019862,Baking,BAKING,test brand @1612366101024,False,NaN,601ac114be37ce2ead437550,Cogs
1,601c5460be37ce2ead43755f,511111519928,Beverages,BEVERAGES,Starbucks,False,STARBUCKS,5332f5fbe4b03c9a25efd0ba,Cogs
2,601ac142be37ce2ead43755d,511111819905,Baking,BAKING,test brand @1612366146176,False,TEST BRANDCODE @1612366146176,601ac142be37ce2ead437559,Cogs
3,601ac142be37ce2ead43755a,511111519874,Baking,BAKING,test brand @1612366146051,False,TEST BRANDCODE @1612366146051,601ac142be37ce2ead437559,Cogs
4,601ac142be37ce2ead43755e,511111319917,Candy & Sweets,CANDY_AND_SWEETS,test brand @1612366146827,False,TEST BRANDCODE @1612366146827,5332fa12e4b03c9a25efd1e7,Cogs
...,...,...,...,...,...,...,...,...,...
1162,5f77274dbe37ce6b592e90c0,511111116752,Baking,BAKING,test brand @1601644365844,False,NaN,5f77274dbe37ce6b592e90bf,Cogs
1163,5dc1fca91dda2c0ad7da64ae,511111706328,Breakfast & Cereal,NaN,Dippin DotsÂ® Cereal,False,DIPPIN DOTS CEREAL,53e10d6368abd3c7065097cc,Cogs
1164,5f494c6e04db711dd8fe87e7,511111416173,Candy & Sweets,CANDY_AND_SWEETS,test brand @1598639215217,False,TEST BRANDCODE @1598639215217,5332fa12e4b03c9a25efd1e7,Cogs
1165,5a021611e4b00efe02b02a57,511111400608,Grocery,NaN,LIPTON TEA Leaves,False,LIPTON TEA Leaves,5332f5f6e4b03c9a25efd0b4,Cogs
1166,6026d757be37ce6369301468,511111019930,Baking,BAKING,test brand @1613158231643,False,TEST BRANDCODE @1613158231644,6026d757be37ce6369301467,Cogs

In [9]:
items = pd.read_csv ('C:/Users/Parth Parsana/OneDrive/Desktop/Interview prep/Fetch reward/items.csv')
items

,userId,dateScanned,_id,level_1,barcode,description,finalPrice,itemPrice,needsFetchReview,partnerItemId,...,itemNumber,originalMetaBriteQuantityPurchased,pointsEarned,targetPrice,competitiveProduct,originalFinalPrice,originalMetaBriteItemPrice,deleted,priceAfterCoupon,metabriteCampaignId
0,5ff1e1eacfcf6c399c274ae6,2021-01-03 15:25:31,5ff1e1eb0a720f0523000575,0,4011,ITEM NOT FOUND,26.00,26.00,False,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,5ff1e194b6a9d73a3a9f1052,2021-01-03 15:24:43,5ff1e1bb0a720f052300056b,0,4011,ITEM NOT FOUND,1.00,1.00,NaN,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5ff1e194b6a9d73a3a9f1052,2021-01-03 15:24:43,5ff1e1bb0a720f052300056b,1,028400642255,DORITOS TORTILLA CHIP SPICY SWEET CHILI REDUCE...,10.00,10.00,True,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,5ff1e1f1cfcf6c399c274b0b,2021-01-03 15:25:37,5ff1e1f10a720f052300057a,0,NaN,NaN,NaN,NaN,False,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5ff1e1eacfcf6c399c274ae6,2021-01-03 15:25:34,5ff1e1ee0a7214ada100056f,0,4011,ITEM NOT FOUND,28.00,28.00,False,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6936,5fc961c3b8cfca11a077dd33,2021-03-01 10:32:28.000,603cc2bc0a720fde100003e9,1,B07BRRLSVC,thindust summer face mask - sun protection nec...,11.99,11.99,NaN,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.99,NaN
6937,5fc961c3b8cfca11a077dd33,2021-03-01 10:22:27.000,603cc0630a720fde100003e6,0,B076FJ92M4,mueller austria hypergrind precision electric ...,22.97,22.97,NaN,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22.97,NaN
6938,5fc961c3b8cfca11a077dd33,2021-03-01 10:22:27.000,603cc0630a720fde100003e6,1,B07BRRLSVC,thindust summer face mask - sun protection nec...,11.99,11.99,NaN,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.99,NaN
6939,5fc961c3b8cfca11a077dd33,2021-03-01 13:07:28.000,603ce7100a7217c72c000405,0,B076FJ92M4,mueller austria hypergrind precision electric ...,22.97,22.97,NaN,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22.97,NaN
6940,5fc961c3b8cfca11a077dd33,2021-03-01 13:07:28.000,603ce7100a7217c72c000405,1,B07BRRLSVC,thindust summer face mask - sun protection nec...,11.99,11.99,NaN,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.99,NaN

## Just looking at the items table we can see a major issues with data quality like:
##  Items table which is derived from receipts table has incomplete barcode. Since there are two types of barcode:UPC-E and UPC-A. The UPC-E can encode only six digits, while UPC-A encodes twelve digits. Neither of those conditions are fulfilled for many items

In [20]:
len(users['_id'].unique())

212

In [15]:
print(receipts.shape)
receipts.isnull().sum()

(1119, 14)

_id                          0
bonusPointsEarned          575
bonusPointsEarnedReason    575
createDate                   0
dateScanned                  0
finishedDate               551
modifyDate                   0
pointsAwardedDate          582
pointsEarned               510
purchaseDate               448
purchasedItemCount         484
rewardsReceiptStatus         0
totalSpent                 435
userId                       0
dtype: int64

In [16]:
print(users.shape)
users.isnull().sum()

(495, 7)

_id              0
active           0
createdDate      0
lastLogin       62
role             0
signUpSource    48
state           56
dtype: int64

In [23]:
len(users['_id'].unique())

212

### The primary key used as userId (_id) in user table has only 212 unique values that means the rest 283 _ids are duplicates. This can have negative impact if we use this primary key for linking other tables.

In [17]:
print(brands.shape)
brands.isnull().sum()

(1167, 9)

_id               0
barcode           0
category        155
categoryCode    650
name              0
topBrand          0
brandCode       269
cpg_Id            0
cpf_Ref           0
dtype: int64

In [14]:
print(items.shape)
items.isnull().sum()

(6941, 38)

userId                                   0
dateScanned                              0
_id                                      0
level_1                                  0
barcode                               3851
description                            381
finalPrice                             174
itemPrice                              174
needsFetchReview                      6128
partnerItemId                            0
preventTargetGapPoints                6583
quantityPurchased                      174
userFlaggedBarcode                    6604
userFlaggedNewItem                    6618
userFlaggedPrice                      6642
userFlaggedQuantity                   6642
needsFetchReviewReason                6722
pointsNotAwardedReason                6601
pointsPayerId                         5674
rewardsGroup                          5210
rewardsProductPartnerId               4672
userFlaggedDescription                6787
originalMetaBriteBarcode              6917
originalMetaBriteDescription          6931
brandCode                             4341
competitorRewardsGroup                6666
discountedItemPrice                   1172
originalReceiptItemText               1181
itemNumber                            6788
originalMetaBriteQuantityPurchased    6926
pointsEarned                          6014
targetPrice                           6563
competitiveProduct                    6296
originalFinalPrice                    6932
originalMetaBriteItemPrice            6932
deleted                               6932
priceAfterCoupon                      5985
metabriteCampaignId                   6078
dtype: int64

### From the total null values we can see that all the table have some null values like in:
### Receipts: bonusPointsEarned, purchasedItemCount and totalSpent have a lot of null values which are very significant for the questions asked.
### Users: signupScore, state and lastlogin are the only fields with null value
### Brands: brandCode, categoryCode and category are the only fields with null value. 
### Items: Many fields have null values. But most imporatant is BarCode has many null values whichi is used to link the items table so has significant impact on the answers.

### Also all time format are given in unix-millisecond format which is quicker to process than datetime format but is not so easily readble. So, we have to convert the format before we perform any analysis

### Additionally, the rewardsReceiptItemList which is removed from receipts has a list of items present inside which is a very computationally heavy way of processing this data directly. That is why I have put that list as a new table Items and linked it with receipts table using  the receiptId (_id)